---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/high-tide-aviation-hangar.jpg";
---

<BaseLayout
  siteTitle="404 Page Not Found | High Tide Aviation"
  siteDescription="Oops! The page you're looking for can't be found. It might have been moved, deleted, or you might have entered the wrong URL. Don't worry, you can easily navigate back to the homepage or explore other helpful pages related to pilot training, aviation news, and flight school resources at High Tide Aviation."
  siteKeywords="404 error, page not found, High Tide Aviation, pilot training Southport, flight school St Simons Island, aviation news Wallace NC, aviation blog, aviation resources, pilot education, helicopter training, commercial pilot training, flight instructor training, private pilot training, aviation services"
>
  <Header
    slot="header"
    image={Banner}
    title="404 Page Not Found"
    alt="High Tide Aviation Hangar"
  />

  <section class="py-24 px-5">
    <div class="max-w-xl lg:max-w-7xl mx-auto flex flex-col items-center gap-5">
      <h2 class="uppercase text-medium-blue text-lg font-bold tracking-widest">
        Sorry, we couldn't find this page.
      </h2>
      <h3
        class="text-5xl max-w-4xl text-center text-dark-blue font-bold leading-tight"
      >
        But dont worry, you can find plenty of other things on our homepage.
      </h3>
      <p class="text-gray-600 text-center max-w-5xl leading-loose my-3">
        <a rel="noopener noreferrer" href="/" class="btn-blue"
          >Back to homepage</a
        >
      </p>
    </div>
  </section>
</BaseLayout>
