---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/high-tide-aviation-hangar.jpg";
---

<BaseLayout
  siteTitle="500 Server Error | High Tide Aviation"
  siteDescription="Something went wrong! Our site is currently experiencing an issue. We're working hard to fix it and get everything back up and running. In the meantime, feel free to browse our blog or check out our pilot training programs, including commercial and private pilot certifications, flight school, and more."
  siteKeywords="500 error, internal server issue, High Tide Aviation, flight training Southport, aviation services, pilot education, helicopter training St Simons Island, aviation training Wallace NC, flight instructor program, pilot training blog, aviation school, private pilot certification, commercial pilot certification, flight resources"
>
  <Header
    slot="header"
    image={Banner}
    title="500 Server Error"
    alt="High Tide Aviation Hangar"
  />

  <section class="py-24 px-5">
    <div class="max-w-xl lg:max-w-7xl mx-auto flex flex-col items-center gap-5">
      <h2 class="uppercase text-medium-blue text-lg font-bold tracking-widest">
        Oops, something went wrong.
      </h2>
      <h3
        class="text-5xl max-w-4xl text-center text-dark-blue font-bold leading-tight"
      >
        Try refreshing the page or come back later.
      </h3>
      <p class="text-gray-600 text-center max-w-5xl leading-loose my-3">
        We apologize for the inconvenience.
      </p>
    </div>
  </section>
</BaseLayout>
