---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/beech-baron-b55-front.jpg";
import { FaCheckCircle } from "react-icons/fa";
import { PHONE_NUMBER } from "../consts";
---

<BaseLayout
  siteTitle="Thank You for Contacting Us"
  siteDescription="Thank you for reaching out to High Tide Aviation! Your message has been successfully submitted, and we will get back to you as soon as possible. Whether you're inquiring about pilot training programs, flight school locations, or other aviation services, we are here to assist you. Stay tuned for our response, and feel free to explore our site for more information on our training programs, certification options, and aviation resources."
  siteKeywords="contact us confirmation, High Tide Aviation, pilot training inquiry, flight school information, commercial pilot training, private pilot certification, aviation services, flight instructor training, helicopter training St Simons Island, aviation resources Southport NC, aviation training Wallace NC, flight school St Simons Island, flight school programs, contact form submission"
>
  <Header
    slot="header"
    image={Banner}
    title="Thank You for Contacting Us"
    alt="Beech Baron B55 from the front"
  />

  <section class="py-16 px-5">
    <div class="flex flex-col items-center max-w-5xl mx-auto text-center gap-8">
      <FaCheckCircle className="text-9xl text-medium-blue" />
      <p class="text-gray-600 leading-loose">
        Thank you for contacting High Tide Aviation. We are looking forward to
        working with you soon. We will review your message and get back with you
        within 1-5 business days.
      </p>
      <p class="text-gray-600 leading-loose">
        You can also give us a call at <a
          class="hover:text-dark-blue hover:underline duration-300"
          href=`tel:${PHONE_NUMBER}`>{PHONE_NUMBER}</a
        >.
      </p>
    </div>
  </section>
</BaseLayout>
