---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/beech-baron-b55-front.jpg";
import { FaCheckCircle } from "react-icons/fa";
import { PHONE_NUMBER } from "../consts";
---

<BaseLayout siteTitle="Thank You for Downloading Our eBook">
  <Header
    slot="header"
    image={Banner}
    title="Thank You for Downloading Our eBook"
    alt="Beech Baron B55 from the front"
  />

  <section class="py-16 px-5">
    <div class="flex flex-col items-center max-w-5xl mx-auto text-center gap-8">
      <FaCheckCircle className="text-9xl text-medium-blue" />
      <p class="text-gray-600 leading-loose">
        Thank you for choosing to download our "Learn to Fly" eBook. Please
        expect an email in the inbox associated with the email address provided.
        You'll find it as an attachment and a shareable link. We hope you find
        it helpful.
      </p>
      <p class="text-gray-600 leading-loose">
        Are you interested in flight training with us? You can give us a call at <a
          class="hover:text-dark-blue hover:underline duration-300"
          href=`tel:${PHONE_NUMBER}`>{PHONE_NUMBER}</a
        > to schedule a visit.
      </p>
    </div>
  </section>
</BaseLayout>
