---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/private-pilot-sits-in-multi-engine-plane.jpg";
import { Image } from "astro:assets";
import Intro from "../assets/first-time-pilots-intro.jpg";
import StatCard from "../components/StatCard.astro";
import { stats } from "../data/stats";
import { RiTeamLine } from "react-icons/ri";
import { IoIosArrowRoundForward } from "react-icons/io";
import { GiExitDoor } from "react-icons/gi";
import { MdFlightTakeoff } from "react-icons/md";
import { ImQuotesLeft, ImQuotesRight } from "react-icons/im";
---

<BaseLayout siteTitle="Enrollment Form">
  <Header
    slot="header"
    image={Banner}
    title="Interested in Enrolling at High Tide Aviation?"
  />

  <section class="py-16 px-5">
    <form class="flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Enrollment Process
      </h2>
      <h3
        class="text-5xl font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        Fill Out the Form Below to Start Flying
      </h3>
      <div class="grid md:grid-cols-2 gap-5 my-10">
        <input
          class="bg-medium-blue/15 text-dark-blue py-4 px-6 w-full outline-none placeholder:text-gray-500"
          type="text"
          name="first-name"
          id="first-name"
          placeholder="First Name"
          required
        />
        <input
          class="bg-medium-blue/15 text-dark-blue py-4 px-6 w-full outline-none placeholder:text-gray-500"
          type="text"
          name="last-name"
          id="last-name"
          placeholder="Last Name"
          required
        />
        <input
          class="bg-medium-blue/15 text-dark-blue py-4 px-6 w-full outline-none placeholder:text-gray-500"
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <input
          class="bg-medium-blue/15 text-dark-blue py-4 px-6 w-full outline-none placeholder:text-gray-500"
          type="tel"
          name="phone"
          id="phone"
          placeholder="Phone"
          required
        />

        <fieldset>
          <legend class="font-medium leading-6 text-dark-blue"
            >Training Type:</legend
          >
          <div class="mt-2 space-y-1">
            <div class="flex items-center gap-x-3">
              <input
                id="airplane"
                name="training-type"
                type="radio"
                class="h-4 w-4 border-gray-300 text-medium-blue focus:ring-medium-blue"
              />
              <label for="airplane" class="block leading-6 text-gray-600"
                >Airplane</label
              >
            </div>
            <div class="flex items-center gap-x-3">
              <input
                id="helicopter"
                name="training-type"
                type="radio"
                class="h-4 w-4 border-gray-300 text-medium-blue focus:ring-medium-blue"
              />
              <label for="helicopter" class="block leading-6 text-gray-600"
                >Helicopter (Southport exclusive)</label
              >
            </div>
            <div class="flex items-center gap-x-3">
              <input
                id="both"
                name="training-type"
                type="radio"
                class="h-4 w-4 border-gray-300 text-medium-blue focus:ring-medium-blue"
                required
              />
              <label for="both" class="block leading-6 text-gray-600"
                >Both</label
              >
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend class="font-medium leading-6 text-dark-blue"
            >Preferred Program:</legend
          >
          <p class="text-gray-500 text-sm">Select all that apply</p>
          <div class="mt-2 space-y-1">
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="ground-school"
                  name="ground-school"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="ground-school" class="text-gray-600"
                  >Ground School</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="private-pilot"
                  name="private-pilot"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="private-pilot" class="text-gray-600"
                  >Private Pilot</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="instrument-rating"
                  name="instrument-rating"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="instrument-rating" class="text-gray-600"
                  >Instrument Rating</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="commercial-pilot"
                  name="commercial-pilot"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="commercial-pilot" class="text-gray-600"
                  >Commercial Pilot</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="flight-instructor"
                  name="flight-instructor"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="flight-instructor" class="text-gray-600"
                  >Flight Instructor</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="multi-engine"
                  name="multi-engine"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="multi-engine" class="text-gray-600"
                  >Multi-Engine (Airplane only)</label
                >
              </div>
            </div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="zero-to-hero"
                  name="zero-to-hero"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-medium-blue focus:ring-medium-blue"
                />
              </div>
              <div class="leading-6">
                <label for="zero-to-hero" class="text-gray-600"
                  >Zero to Hero</label
                >
              </div>
            </div>
          </div>
        </fieldset>

        <textarea
          class="bg-medium-blue/15 text-dark-blue py-4 px-6 w-full outline-none placeholder:text-gray-500 md:col-span-2 h-36"
          name="message"
          id="message"
          placeholder="Feel free to elaborate"></textarea>
      </div>
      <button
        type="submit"
        class="block font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-mustard-yellow duration-300"
        >Submit</button
      >
    </form>
  </section>
</BaseLayout>
