---
import HomepageHeader from "../components/HomepageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <HomepageHeader slot="header" />
	<div class="h-[40vh] bg-mustard-yellow"></div>
</BaseLayout>


