---
import HomepageHeader from "../components/HomepageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { TbAward } from "react-icons/tb";
import { BsAirplaneEngines } from "react-icons/bs";
import { IoBookOutline } from "react-icons/io5";
import { FaRegStar } from "react-icons/fa6";
---

<BaseLayout>
  <HomepageHeader slot="header" />
	<div class="py-24 bg-mustard-yellow px-5">
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 max-w-7xl mx-auto gap-10">
      <div class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer">
        <TbAward className="size-14 text-dark-blue"/>  
        <p class="text-lg text-white uppercase font-semibold tracking-widest group-hover:text-dark-blue duration-700">Why High Tide</p>
      </div>
      <div class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer">
        <BsAirplaneEngines className="size-14 text-dark-blue"/>  
        <p class="text-lg text-white uppercase font-semibold tracking-widest group-hover:text-dark-blue duration-700">New to Flying</p>
      </div>
      <div class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer">
        <IoBookOutline className="size-14 text-dark-blue"/>  
        <p class="text-lg text-white uppercase font-semibold tracking-widest group-hover:text-dark-blue duration-700">Download our free eBook!</p>
      </div>
      <div class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer">
        <FaRegStar className="size-14 text-dark-blue"/>  
        <p class="text-lg text-white uppercase font-semibold tracking-widest group-hover:text-dark-blue duration-700">Student Reviews</p>
      </div>
    </div>
  </div>
</BaseLayout>


