---
const { title, btnId, btnTitle, url } = Astro.props;
import { Image } from "astro:assets";
import flyer1 from "../assets/coastal-pines-ground-school-flyer.webp";
import flyer2 from "../assets/brunswick-ground-school.webp";
---

<astro-banner btnId={btnId}>
  <div
    class="fixed bottom-0 start-1/2 z-50 mx-auto w-full -translate-x-1/2 transform sm:max-w-4xl max-h-[40rem] overflow-y-auto -translate-y-10 flex flex-col gap-2"
    role="region"
    aria-label="Informational Banner"
  >
    <button
      type="button"
      class="ml-auto inline-flex items-center gap-x-2 rounded-full border border-transparent bg-neutral-200/90 p-1 text-sm font-semibold text-dark-blue hover:bg-medium-blue duration-200 disabled:pointer-events-none disabled:opacity-50"
      id={btnId}
    >
      <span class="sr-only">Dismiss</span>
      <svg
        class="size-5 flex-shrink-0"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
      >
    </button>
    <div
      class="rounded-xl bg-neutral-200/90 bg-cover bg-center bg-no-repeat p-4 text-center shadow-sm"
    >
      <div class="flex items-center justify-center flex-col gap-2">
        <p class="font-medium order-2 text-sm">
          We’re excited to announce a major upgrade to High Tide Aviation’s
          advanced training fleet. Our Beechcraft Bonanza V35B has been
          outfitted with a cutting-edge <strong>Garmin glass cockpit</strong>,
          featuring dual <strong>G3X Touch displays,</strong> a <strong
            >Garmin GI 275, GTN 650 GPS,</strong
          > and the <strong>Garmin GFC 500 autopilot</strong>—providing the same
          modern avionics environment found in today’s high-performance
          aircraft.
        </p>
        <div class="order-3 flex gap-3">
          {
            title && (
              <p class="me-2 inline-block font-medium text-neutral-50 dark:text-neutral-700">
                {title}
              </p>
            )
          }
          <a
            href="/about/fleet-rentals#advanced-aircraft"
            class="group inline-flex items-center gap-x-2 rounded-full border-2 border-dark-blue bg-mustard-yellow backdrop-brightness-75 sm:backdrop-brightness-100 px-3 py-2 text-sm font-semibold text-dark-blue transition duration-300 hover:brightness-110 cursor-pointer disabled:pointer-events-none disabled:opacity-50"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</astro-banner>
<script type="module">
  class AstroBanner extends HTMLElement {
    connectedCallback() {
      const btnId = this.getAttribute("btnId");
      const button = this.querySelector(`#${btnId}`);
      if (button != null) {
        button.addEventListener("click", () => this.remove());
      }
    }
  }

  customElements.define("astro-banner", AstroBanner);
</script>
