---
import { Image } from "astro:assets";
import Navbar from "./Navbar";
const { image, title, ctaText } = Astro.props;
const { pathname } = Astro.url;
---

<header>
  <Navbar pathname={pathname} client:load />

  <div
    class="relative isolate pt-24 overflow-hidden h-[28rem] text-white flex items-center flex-col"
  >
    <Image
      src={image}
      alt="A description of my image."
      class="absolute -z-50 -top-72 min-w-[110rem]"
      quality={10}
    />
    <div class="absolute inset-0 bg-dark-blue/70 -z-40"></div>

    <div class="max-w-7xl flex w-full mx-auto h-full items-center py-14">
      <div class="max-w-5xl px-5 mx-auto">
        <h1
          class="text-5xl font-medium tracking-tight sm:text-5xl animate-fade-in"
        >
          {title}
        </h1>
      </div>
    </div>
  </div>
  {
    ctaText && (
      <div class="flex justify-center -translate-y-7">
        <a
          href="#"
          class="uppercase py-4 px-14 bg-mustard-yellow text-white font-medium w-fit rounded-full hover:bg-medium-blue duration-300"
        >
          {ctaText}
        </a>
      </div>
    )
  }
</header>
