---
import { Image } from "astro:assets";
import HeroImage from "../assets/multiengine-plane-at-high-tide-aviation.jpg";
---

<section>
  <div
    class="relative isolate pt-14 overflow-hidden h-[101vh] text-white flex
    items-center"
  >
    <Image
      src={HeroImage}
      alt="Multi-engine plane at High Tide Aviation in Southport, NC"
      class="absolute top-0 w-full h-full object-cover -z-50"
      quality={50}
    />

    <!-- <iframe
      src="https://www.youtube.com/embed/uPqSfUAYokI?si=T5HQvIx7cbDp33MC?vq=hd1080&controls=0&disablekb=1&showinfo=0&rel=0&iv_load_policy=3&fs=0&autoplay=1&loop=1&modestbranding=1&playlist=_xfjSYwHK9k&mute=1"
      title="YouTube video player"
      loading="lazy"
      allow="accelerometer; autoplay; fullscreen;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"
      class="hidden lg:block absolute -top-52 w-[150rem] -left-[30rem] h-[100rem] object-cover -z-50"
    ></iframe> -->

    <iframe
      src="https://www.youtube-nocookie.com/embed/uPqSfUAYokI?autoplay=1&loop=1&mute=1&iv_load_policy=3&controls=0&disablekb=1&fs=0&playlist=uPqSfUAYokI"
      title="Welcome to High Tide Aviation"
      loading="eager"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"
      class="-z-50 aspect-video pointer-events-none absolute w-[160rem] -left-[65rem] lg:-left-[50rem] -top-[15rem] 2xl:h-[135vh] 2xl:w-[135vw] 2xl:-left-[18vw] 2xl:-top-[18vh]"
    ></iframe>

    <div class="absolute inset-0 bg-dark-blue/60 -z-40"></div>
    <div class="flex w-full justify-center">
      <div class="px-5 font-medium text-center flex flex-col gap-4 lg:gap-8">
        <p class="lg:text-xl animate-fade-down uppercase tracking-widest">
          Welcome to High Tide Aviation
        </p>
        <h1
          class="text-4xl sm:text-5xl lg:text-7xl uppercase max-w-6xl animate-fade-down"
        >
          The Southeast Shores' Leading Part 141 and Part 61 Pilot Training Center
        </h1>
        <h2
          class="text-xl lg:text-3xl animate-fade-down uppercase tracking-widest mb-2"
        >
          Southport, NC | St Simons Island, GA | Wilmington, NC
        </h2>
        <div
          class="flex flex-col md:flex-row items-center gap-5 w-full justify-center md:gap-10 animate-fade-up"
        >
          <a href="/quiz-form" class="btn-yellow">Find out if you're ready to start flying</a>
          <a href="https://flyhightide.com/" class="btn-white">See our aerial tours</a>
        </div>
      </div>
    </div>
  </div>
</section>
