---
import ImageComp from "./ImageComp.astro";
const { imagesArray } = Astro.props;
---

<div class="swiper-body h-full">
  <div class="swiper h-full">
    <div class="swiper-wrapper h-full">
      {
        imagesArray.map((image) => (
          <ImageComp
            src={image}
            alt="Plane Image"
            classes="swiper-slide aspect-video h-full"
          />
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<style>
  .swiper-body {
    position: relative;
  }
  .swiper {
    aspect-ratio: 16/9;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
</style>

<script src="../scripts/slider-simple.js"></script>
