---
import { MdOutlineQuiz } from "react-icons/md";
---

<section id="quiz" class="scroll-my-24">
  <div class="py-24 px-5 text-white bg-dark-blue relative overflow-hidden">
    <MdOutlineQuiz
      className="size-[40rem] right-16 -top-8 text-white/10 absolute"
    />
    <div class="max-w-xl lg:max-w-7xl mx-auto relative z-10">
      <div class="max-w-3xl">
        <h2 class="uppercase text-mustard-yellow font-bold tracking-widest">
          Become a Pilot
        </h2>
        <h3 class="text-5xl font-bold leading-tight">
          Are You Ready to Become a Pilot?
        </h3>
        <p class="text-white/70 leading-loose my-5">
          Do you ever wonder what it takes to be a pilot? Sometimes, the thought
          of flight training is exhilarating but comes with nerves toward
          getting started. We understand that flight training may be daunting to
          some, so we have put together a readiness quiz for you to see what
          becoming a pilot is like at High Tide Aviation. Whether in Southport,
          North Carolina, or St Simons Island, Georgia, we hope this quiz helps
          assuage any doubts about starting your path toward becoming a pilot!
        </p>
        <a href="/quiz-form" class="btn-yellow">Take the Quiz</a>
      </div>
    </div>
  </div>
</section>
