---
import { Image } from "astro:assets";
import HeroImage from "../assets/multiengine-plane-at-high-tide-aviation.jpg";
---

<header>
  <div class="relative w-full aspect-video">
    <iframe
      src="https://www.youtube.com/embed/gopNZFfFipQ?autoplay=1&loop=1&modestbranding=1&rel=0&mute=1&iv_load_policy=3&controls=0&disablekb=1&fs=0&playlist=gopNZFfFipQ"
      title="YouTube video player"
      loading="lazy"
      allow="accelerometer; autoplay; fullscreen;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"
      class="w-full aspect-video"></iframe>

    <div class="absolute inset-0 bg-dark-blue/0 z-40"></div>
  </div>
</header>
