---
import { PiStudent } from "react-icons/pi";
import { SiSpeedtest } from "react-icons/si";
import { CiClock1 } from "react-icons/ci";
import { BsAirplaneEngines } from "react-icons/bs";

const { icon, value, title } = Astro.props;

const icons = {
  PiStudent: PiStudent,
  SiSpeedtest: SiSpeedtest,
  CiClock1: CiClock1,
  BsAirplaneEngines: BsAirplaneEngines,
};

const Icon = icons[icon];
---

<div class="bg-dark-blue flex flex-col py-10 group">
  <div
    class="border-r border-white/20 px-10 flex flex-col items-center gap-1 group-last:border-0"
  >
    <Icon className="size-14 mb-4 text-mustard-yellow" />
    <p class="text-5xl font-medium">{value}</p>
    <h2 class="text-white/50">{title}</h2>
  </div>
</div>
