---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Banner from "../../assets/cessna-172-flying-over-st-simons-island.jpg";
import { Image } from "astro:assets";
import Intro from "../../assets/first-time-pilot-on-cessna.jpg";
import CounterCard from "../../components/CounterCard";
import { stats } from "../../data/stats";
import { RiTeamLine } from "react-icons/ri";
import { IoIosArrowRoundForward } from "react-icons/io";
import { GiExitDoor } from "react-icons/gi";
import { MdFlightTakeoff } from "react-icons/md";
import { ImQuotesLeft, ImQuotesRight } from "react-icons/im";
import { reviews } from "../../data/reviews";
import StudentSupport from "../../assets/student-support.jpg";
import { IoLocationSharp } from "react-icons/io5";
import { TfiBlackboard } from "react-icons/tfi";
import { PiAirplaneTilt } from "react-icons/pi";
import { GiMilitaryFort } from "react-icons/gi";
---

<BaseLayout
  siteTitle="Flight Training with High Tide at Wallace-Penderton Airport (KACZ)"
  siteDescription="High Tide Aviation offers specialized flight training at Wallace-Penderton Airport (ACZ) in Wallace, NC. Ideal for military personnel from nearby bases, we provide Private Pilot License (PPL) and Instrument Rating (IR) training with a Cessna 172 Skyhawk."
  siteKeywords="Wallace NC flight training, Henderson Field Airport, Wallace-Penderton Airport, ACZ, military pilot training, Private Pilot License, Instrument Rating, Cessna 172, Marine Corps Base Camp Lejeune, Seymour Johnson AFB, Fort Liberty, High Tide Aviation"
>
  <Header
    slot="header"
    image={Banner}
    title="Flight Training in Wallace, NC"
    alt="Sunset flight over Wallace, NC, near Wilmington"
  />

  <section class="py-24 px-5">
    <div
      class="max-w-xl gap-10 lg:max-w-7xl mx-auto flex flex-col lg:flex-row items-center lg:gap-20"
    >
      <div class="flex flex-col flex-1">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Training with High Tide
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          At Wallace-Penderton Airport (ACZ)
        </h3>
        <div class="text-gray-500 leading-relaxed my-5 flex gap-3">
          <IoLocationSharp className="size-10 mt-1 shrink-0" />
          <div>
            <p>250 Skydive Lane</p>
            <p>Wallace, NC 28466</p>
          </div>
        </div>
        <p class="text-gray-500 leading-relaxed my-5">
          Flying is freedom. As a pilot, you'll soar above the earth, exploring
          the skies with an independence shared by only a select few
          individuals, and experience thrilling new perspectives. Pilots at High
          Tide Aviation have a unique opportunity to do so over the gorgeous
          coastlines of North Carolina and Georgia. The journey to earn your
          wings cultivates essential skills - from navigation to aircraft
          management. Whether your goal is a rewarding hobby or a fulfilling
          career, learning to fly offers unmatched personal and professional
          growth. Take control and discover the timeless allure of aviation.
        </p>
        <h4 class="text-medium-blue text-xl font-bold mt-5">
          How do I find this High Tide Aviation training center?
        </h4>
        <p class="text-gray-500 leading-relaxed mt-5">
          Wallace-Penderton Airport is easily accessible from major routes.
          Contact us for detailed directions from your location.
        </p>
        <p class="text-gray-500 leading-relaxed my-5">
          High Tide Aviation provides focused flight training at
          Wallace-Penderton Airport (ACZ) in Wallace, NC, a convenient location
          for military personnel stationed at nearby bases. This facility
          specializes in Private Pilot License (PPL) and Instrument Rating (IR)
          training using the Cessna 172 Skyhawk, a reliable aircraft ideal for
          both beginner and advanced flight training.
        </p>
        <div class="flex flex-col sm:flex-row items-center gap-5">
          <a href="/enrollment-form" class="btn-blue"
            >Request Training with High Tide</a
          >
        </div>
      </div>
    </div>
  </section>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4635.191876333364!2d-78.00370142891344!3d34.71856185522368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89abd6a4c0ca44ff%3A0xae306acb0e8c169f!2sHenderson%20Field%20Airport!5e0!3m2!1sen!2sar!4v1725031971531!5m2!1sen!2sar"
    class="w-full h-96"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>

  <section
    class="py-16 px-5 flex flex-col lg:flex-row gap-5 max-w-xl lg:max-w-7xl scroll-my-20 mx-auto"
  >
    <div class="flex-1">
      <h3
        class="text-5xl text-dark-blue font-bold leading-tight max-w-2xl text-center lg:text-left"
      >
        Our Wallace Facilities
      </h3>

      <a href="/contact-us" class="btn-blue mx-auto my-5 lg:mx-0">Contact Us</a>
    </div>
    <div class="flex-[2.2_2.2_0%] grid lg:grid-cols-2 gap-10">
      <div
        class="border border-light-blue/50 py-8 px-12 flex flex-col gap-5 justify-between hover:bg-medium-blue/20 duration-700 group"
      >
        <div class="flex flex-col gap-5">
          <TfiBlackboard className="size-14 text-medium-blue" />
          <h3
            class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
          >
            Programs
          </h3>
          <p class="text-gray-600 leading-relaxed">
            We offer lessons to obtain your Fixed-Wing <a
              href="/flight-training/private-pilot"
              class="text-dark-blue font-medium hover:underline"
              >Private Pilot Certificate (PPL)</a
            > and <a
              href="/flight-training/instrument-rating"
              class="text-dark-blue font-medium hover:underline"
              >Instrument Rating (IR)</a
            > at KACZ.
          </p>
        </div>
        <a
          href="/flight-training/private-pilot"
          class="flex gap-3 items-center self-end cursor-pointer group"
        >
          <p class="text-gray-500 text-sm">Training Programs</p>
          <div
            class="p-3 bg-light-blue/15 rounded-full group-hover:bg-medium-blue duration-700"
          >
            <IoIosArrowRoundForward
              className="text-dark-blue size-6 group-hover:text-white duration-700"
            />
          </div>
        </a>
      </div>
      <div
        class="border border-light-blue/50 py-8 px-12 flex flex-col gap-5 justify-between hover:bg-medium-blue/20 duration-700 group"
      >
        <div class="flex flex-col gap-5">
          <PiAirplaneTilt className="size-14 text-medium-blue" />
          <h3
            class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
          >
            Aircraft
          </h3>
          <p class="text-gray-600 leading-relaxed">
            At the moment, we only offer training in our Cessna 172 at the
            Wallace location.
          </p>
        </div>
      </div>
      <div
        class="border border-light-blue/50 py-8 px-12 flex flex-col gap-5 justify-between hover:bg-medium-blue/20 duration-700 group"
      >
        <div class="flex flex-col gap-5">
          <GiMilitaryFort className="size-14 text-medium-blue" />
          <h3
            class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
          >
            Nearby
          </h3>
          <p class="text-gray-600 leading-relaxed">
            Wallace-Penderton Airport (ACZ) is near several major military
            installations, including Marine Corps Base Camp Lejeune, Marine
            Corps Air Station New River, Seymour Johnson Air Force Base, and
            Fort Liberty. This location serves military personnel from nearby
            communities such as Jacksonville, Goldsboro, and Wilmington.
          </p>
        </div>
      </div>
      <div
        class="border border-light-blue/50 py-8 px-12 flex flex-col gap-5 justify-between hover:bg-medium-blue/20 duration-700 group"
      >
        <div class="flex flex-col gap-5">
          <RiTeamLine className="size-14 text-medium-blue" />
          <h3
            class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
          >
            Availability
          </h3>
          <p class="text-gray-600 leading-relaxed">
            This is our newest location! While we’re proud to be furthering our
            reach and mission to remain the number one flight school on the
            Southeast Coast, we will offer training on limited days until we
            have enough volume. <span class="font-medium"
              >Contact us at the Southport location for more information on
              training in Wallace, NC.</span
            >
          </p>
        </div>
        <a
          href="/contact-us"
          class="flex gap-3 items-center self-end cursor-pointer group"
        >
          <p class="text-gray-500 text-sm">Contact Us</p>
          <div
            class="p-3 bg-light-blue/15 rounded-full group-hover:bg-medium-blue duration-700"
          >
            <IoIosArrowRoundForward
              className="text-dark-blue size-6 group-hover:text-white duration-700"
            />
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="flex flex-col lg:flex-row">
    <div
      class="flex flex-col justify-center bg-mustard-yellow flex-1 py-16 px-5"
    >
      <div class="max-w-xl lg:max-w-none mx-auto lg:mx-20">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Intro flights at high tide
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Take a Test Flight with High Tide Aviation
        </h3>
        <p class="text-gray-600 my-10 mr-10 leading-loose">
          <span class="font-semibold"
            >Still on the fence about flying or pursuing flight training in
            Wallace?</span
          > Come fly with us at our Southport and experience the genuine thrill flying
          brings our pilots. You can book an intro flight (discovery flight) with
          us and visit the team. We know you’ll love it!
        </p>
        <a href="/intro-flight" target="_blank" class="btn-blue hover:bg-white">
          Book an Intro Flight
        </a>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-center text-white bg-medium-blue flex-1 relative py-16 px-5"
    >
      <div
        class="max-w-xl lg:max-w-none mx-auto lg:mx-28 my-20 lg:my-0 duration-1000"
        id="reviews-container"
      >
        <p
          id="review-text"
          class="md:text-2xl italic indent-10 leading-relaxed font-medium"
        >
          I earned my private pilot license through High Tide out of St Simons
          Island, GA. They are an excellent program with a great cadre of
          instructors. I am very thankful to have had such a great team to help
          me start this journey into aviation!
        </p>
        <p id="review-author" class="mt-5 md:text-xl float-end">- Jake B.</p>
        <ImQuotesLeft
          className="absolute text-white/70 size-16 z-10 top-20 left-20"
        />
        <ImQuotesRight
          className="absolute text-white/70 size-16 z-10 bottom-20 right-20"
        />
      </div>
    </div>
  </section>
</BaseLayout>

<script define:vars={{ reviews }}>
  let currentIndex = 0;
  const reviewTextElement = document.getElementById("review-text");
  const reviewAuthorElement = document.getElementById("review-author");
  const reviewsContainerElement = document.getElementById("reviews-container");

  function showMessage() {
    if (reviewAuthorElement && reviewTextElement) {
      reviewTextElement.textContent = reviews[currentIndex].review;
      reviewAuthorElement.textContent = `— ${reviews[currentIndex].name}`;
    }
    reviewsContainerElement?.classList.add("opacity-100");
    reviewsContainerElement?.classList.remove("opacity-0");

    currentIndex = (currentIndex + 1) % reviews.length;

    setTimeout(hideMessage, 6000);
  }

  function hideMessage() {
    reviewsContainerElement?.classList.remove("opacity-100");
    reviewsContainerElement?.classList.add("opacity-0");

    setTimeout(showMessage, 1200);
  }

  showMessage();
</script>
