---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, KEYWORDS } from "../consts";
import "@fontsource-variable/dm-sans";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, keywords } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      keywords={keywords || KEYWORDS}
    />
  </head>
  <body class="Inter">
    <Navbar pathname={pathname} client:load />
    <slot name="header" />
    <main>
      <slot />
    </main>
    <Footer />
    <script
      src="https://widgets.leadconnectorhq.com/loader.js"
      data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js"
      data-widget-id="66c4bc2010d8484fcb5562a0"></script>
  </body>
</html>
