---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, KEYWORDS } from "../consts";
import "@fontsource-variable/dm-sans";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, keywords } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      keywords={keywords || KEYWORDS}
    />
  </head>
  <body>
    <header class="fixed z-50 w-full">
      <Navbar pathname={pathname} client:load />
    </header>
    <main>
      <slot name="header" />
      <slot />
    </main>
    <Footer />
    <script is:inline>
      window.addEventListener("load", () => {
        const script = document.createElement("script");
        script.src = "https://beta.leadconnectorhq.com/loader.js";
        script.dataset.resourcesUrl =
          "https://beta.leadconnectorhq.com/chat-widget/loader.js";
        script.dataset.widgetId = "66c4bc2010d8484fcb5562a0";
        document.body.appendChild(script);
      });
    </script>
  </body>
</html>
